<div class='row'>
  <div class='col-lg-5'>
    <div class="panel panel-success">
      <div class="panel-heading">
          <h3 class="panel-title"><span class="glyphicon glyphicon-cloud-upload"></span> Add vcenter  </h3>
      </div>
      <div class="panel-body">
        <%= render 'form' %>
      </div>
    </div>
    <%= link_to vcenters_path, class: 'btn btn-info' do %>
      <span class= "glyphicon glyphicon-arrow-left"> Back</span>
    <% end %>
    <%= link_to @vcenter, class: 'btn btn-info pull-right' do %>
      <span class= "glyphicon glyphicon-arrow-right"> Show</span>
    <% end %>
  </div>
</div>
